
body {
    font-size: 12px;
    line-height: 1.666;
    color: #666;
}
body{
    background-color: rgb(240,239,245);
}
body, input {
    font-family: "微软雅黑";
}

body, h1, h2, h3, h4, h5, h6, ul, ol, li, p, dl, dt, dd, table, th, td {
    margin: 0;
    padding: 0
}

table, th, td, img {
    border: 0
}

em, i, th {
    font-style: normal;
    text-decoration: none
}

h1, h2, h3, h4, h5, h6, th {
    font-size: 100%;
    font-weight: normal
}

input, select, button, textarea, table {
    margin: 0;
    font-family: inherit;
    font-size: 100%
}

input {
    outline: none;
}

ul, ol {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

th, caption {
    text-align: left
}

a {
    color: #666;
    text-decoration: none;
}
.f-clear:before, .f-clear:after {
    clear: both;
    content: ".";
    font-size: 0;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden
}

.header{
    width: 100%;
    height: 50px;
    background-color: rgb(3,182,233);
}
.img{
    display:inline-block;
    width: 25%;
    height: 40px;
  /*  background: url("../img/73d5573.png") no-repeat;*/
    background-size: contain;
    text-align: center;
}
.img .logo{
    width: 75px;
}
.ipt{
    margin-top: 5px;
    height: 35px;
    width: 45%;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 5px;
    opacity: 0.2;
}
.span{
    display: inline-block;
    color: #ffffff;
    font-size:1.1666667em;
    width: 25%;
    text-align: center;
}
.line{
    height: 0.5em;
    width: 1px;
    background-color: #000;
}
#main{
    width: 100%;
    background-color: #ffffff;
}
#main #uu .li{
    width: 33.3%;
    float: left;
    height: 100px;
    text-align: center;
    margin-top: 10px;
}
#main #uu .li .ig{
    width: 40px;
    height: 40px;
}
#main #uu .li .p{
    color: #333333;
}
#box{
    width: 100%;
    height: 80px;
    box-sizing: content-box;
    position: relative;
   overflow: hidden;
    margin-top: 10px;
}
#box ul{
    width: 200%;
    height: 80px;
    position: absolute;
    left: 0;
    animation: move 10s linear infinite;
}
#box ul:hover{
    animation-play-state: paused;
}
#box ol li{
    float: left;
}
@keyframes move {
    0%{
        left: 0;
    }
    100%{
        left: -750px;
    }
}
#show{
    width: 100%;
    background-color: white;
    padding: 10px;
}
#show a{
    color: #ffffff;
    font-size: 1.1666667em;
}
#show .left{
    display: inline-block;
    height: 40px;
    width: 40%;
    background-color: rgb(254,151,111);
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    float: left;
}
.show .right{
    display: inline-block;
    height: 40px;
    width: 40%;
    background-color: rgb(48,186,228);
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    float: right;
}
html,body{
    width: 100%;
    height: 100%;
}
*{margin: 0;padding: 0;box-sizing: border-box}
.box{
    width: 100%;
    height:117px;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
}
ul{list-style: none}
ul:nth-child(1) li img{
    width: 100%;
    height: 100%;
}
ul:nth-child(1){
    width: 500%;
    height: 100%;
    transform: translateX(-20%);
}
ul:nth-child(1) li{
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 200px;
    font-size: 30px;
    color:#ffffff;
}
ul:nth-child(1) li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 200px;
    font-size: 30px;
    color:#ffffff;
}
ul:nth-child(2){
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
ul:nth-child(2) li{
    float: left;
    background: #fff;
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}
ul:nth-child(2) .active{
    background: red;
}
